.institucional {
    display: flex;
    flex-direction: column;
    align-items: center;

    color: var(--fuente-ceniza-oscuro);
    text-align: center;

    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: white;
}

.institucional__titulo {
    color: var(--fuente-ceniza-oscuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 2rem;
}

.institucional__descripcion {
    margin-bottom: 2rem;
}

.institucional__direccion {
    font-size: 1.5rem;
    line-height: normal;

    margin-bottom: 2rem;
}

.institucional__contacto {
    font-size: 1.2rem;
    line-height: 1.8;

    margin-top: 2rem;
}

.institucional__contacto-telefono {
    line-height: normal;
}

.institucional__contacto-email {
    color: var(--fuente-ceniza-oscuro);
    text-decoration: underline;
    display: block;
}

.institucional__video {
    width: 50vw;
    height: 50%;
    box-shadow: 0 0 10px 10px #545454;
    border-radius: 20px;
}

@media screen and (max-width: 768px) {
    .institucional__video{
        width: 90%;
    }
}
